app = 'defcon'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  PORT = "8080"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
